@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam&display=swap');
@import './variables';
* {
  font-family: 'Be Vietnam', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  position: relative;
  background-color: $lightgray;
}

section {
  padding-bottom: 9rem;
}

.banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../components/Home/hero-desktop.jpg);
  width: 100%;
  height: 40vh;
  background-repeat: no-repeat;
  background-position: 50% 65%;
  background-size: cover;

  .banner__container {
    padding: 0 20px;
    margin: 0 auto;
    width: 70%;

    .banner__content {
      width: 55%;
      color: $lightgray;
      padding-top: 100px;

      h1 {
        text-transform: uppercase;
        letter-spacing: 5px;
        font-size: 2.5em;
        margin-bottom: 10px;
      }

      p {
        font-size: 20px;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-bottom: 10%;
      }

      a {
        text-decoration: none;
        background-color: $brightred;
        color: $lightgray;
        font-weight: bold;
        text-transform: uppercase;
        padding: 10px 15px;
        border-radius: 20px;

        &:hover {
          background-color: hsl(12, 68%, 67%);
        }
      }
    }
  }
}

.flex__class {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;

  a {
    text-transform: uppercase;
    text-decoration: none;
    color: $lightgray;
    background-color: $brightred;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    &:hover {
      background-color: hsl(12, 68%, 67%);
    }
  }
}

.characters__container {
  margin: 10px 0 20px 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  .character__card {
    img {
      box-shadow: 0 26px 24px -16px rgb(0 0 0 / 40%);
      width: 260px;
      height: 400px;
    }
    .character__text {
      h4 {
        text-align: center;
      }
      margin-top: 5px;
    }
  }
}

.films__container {
  .film {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 40px;
    gap: 5px;

    .film__content {
      h2 {
        margin-bottom: 5px;
      }

      h3 {
        text-transform: uppercase;
        letter-spacing: 2px;
      }
      hr {
        width: 40%;
        margin-bottom: 10px;
      }
      p {
        text-align: justify;
        margin-bottom: 25px;
      }

      .film__li {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

        div {
          h4 {
            text-transform: uppercase;
            letter-spacing: 1px;
            color: gray;
          }
          li {
            list-style: none;
            font-weight: bold;
          }
        }
      }
    }

    .film__image-container {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px;
      img {
        width: 300px;
        height: 400px;
      }
    }
  }
}

.notfound__page {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  flex-direction: column;

  h2 {
    text-transform: uppercase;
    letter-spacing: 3px;
  }
  .img__vector {
    width: 400px;
    height: 400px;
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-transform: uppercase;
    color: $darkblue;
    font-weight: bold;
    font-size: 1.2em;
    letter-spacing: 0.15em;

    span {
      margin-right: 10px;
      margin-top: 10px;
    }

    &:hover {
      color: hsl(228, 30%, 39%);
    }
  }
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: $verydarkblue;

  .logo {
    font-size: 1.3em;
    letter-spacing: 5px;
    text-transform: uppercase;

    a {
      color: $lightgray;
      text-decoration: none;
    }
  }

  .nav__links {
    display: flex;
    justify-content: space-around;
    width: 40%;

    li {
      list-style: none;
    }

    a {
      color: $lightgray;
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: 3px;
      font-weight: bold;
      font-size: 14px;

      &:hover {
        color: $grayishblue;
      }
    }

    .last {
      display: flex;
      justify-content: center;
      align-items: center;

      span {
        background-color: $lightgray;
        color: $brightred;
        font-weight: bold;
        font-size: 12px;
        padding: 2px 15px;
        margin-left: 5px;
        border-radius: 20px;
      }
    }
  }

  .burguer {
    display: none;
    cursor: pointer;
    div {
      width: 25px;
      height: 2px;
      background-color: $lightgray;
      margin: 5px;
    }
  }
}

footer {
  background-color: $verydarkblue;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 1;

  .logo {
    font-size: 1.4em;
    letter-spacing: 5px;
    text-transform: uppercase;

    a {
      color: $lightgray;
      text-decoration: none;
    }
  }

  .footer__links {
    margin: 10px 0;
    display: flex;
    justify-content: space-around;
    width: 30%;

    h4 {
      color: $lightgray;
      text-transform: uppercase;
    }

    li {
      list-style: none;
      margin: 5px 0;
    }

    a {
      color: $lightgray;
      text-decoration: none;
      font-size: 16px;

      &:hover {
        color: $grayishblue;
      }
    }
  }
}

.container {
  padding: 30px 20px;
  margin: 0 auto;
  margin-top: 20px;
  width: 70%;
}

.grid__container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 5px;
}

.items__container {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  .item__div {
    margin: 0 0 30px 0;

    .image__container {
      a {
        display: inline-block;
        margin-bottom: 10px;
        text-decoration: none;
        transition: transform ease 300ms;

        img {
          box-shadow: 0 26px 24px -16px rgb(0 0 0 / 40%);
          width: 250px;
          height: 350px;
        }
      }
    }

    .text__container {
      margin: 0;
      padding: 0;

      h5 {
        font-size: 14px;
      }

      a {
        color: $verydarkblue;
        text-decoration: none;
      }
    }

    &:hover {
      .image__container {
        transform: translate(0, -10px);
      }
      a {
        color: $brightred;
      }
    }
  }
}

.items__additionals {
  margin-top: 50px;

  h2 {
    text-align: center;
    margin-bottom: 10px;
  }
}

.char-comics__container {
  overflow-x: auto;
  white-space: nowrap;
  display: flex;
  background-color: $lightgray;
  margin: 10px 0;

  &::-webkit-scrollbar-track {
    padding: 2px 0;
    border-radius: 10px;
    background-color: $palered;
  }

  &::-webkit-scrollbar {
    width: 10px;
    height: 8px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: $brightred;
  }

  .item__div {
    margin: 20px;

    .image__container {
      a {
        display: inline-block;
        margin-bottom: 10px;
        text-decoration: none;
        transition: transform ease 300ms;

        img {
          box-shadow: 0 26px 24px -16px rgb(0 0 0 / 40%);
          width: 250px;
          height: 350px;
        }
      }
    }

    .text__container {
      margin: 0;
      padding: 0;

      h5 {
        font-size: 14px;
      }

      a {
        color: $verydarkblue;
        text-decoration: none;
      }
    }

    &:hover {
      .image__container {
        transform: translate(0, -10px);
      }
      a {
        color: $brightred;
      }
    }
  }
}

.filter__container {
  width: 100%;

  p {
    margin-bottom: 10px;
    font-weight: bold;
    color: $verydarkblue;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  hr {
    margin-bottom: 10px;
    width: 90%;
  }

  div {
    margin-bottom: 10px;
  }

  label {
    color: $verydarkblue;
    font-weight: bold;
  }

  select,
  input {
    width: 90%;
    margin-top: 8px;
    padding: 8px 10px;
    border: none;
    outline: none;
    font-size: 14px;
    border-radius: 8px;

    &:focus {
      outline: 2px solid white;
    }
  }
}

.overview-button {
  display: flex;
  justify-content: space-between;

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    border: none;
    background-color: $darkblue;
    border-radius: 8px;
    cursor: pointer;

    span {
      color: $lightgray;
      letter-spacing: 2px;
      margin-right: 5px;
      font-size: 12px;
      text-transform: uppercase;
      font-weight: bold;
    }

    &:hover {
      background-color: hsl(227, 35%, 32%);
    }
  }
}

.character__banner {
  display: grid;
  grid-template-columns: 1fr 2fr;

  .image__container {
    display: flex;
    justify-content: center;
    img {
      width: 400px;
      height: 400px;
    }
  }

  .character__content {
    padding: 30px 20px;
    background-color: white;
    box-shadow: 0 26px 24px -16px rgb(0 0 0 / 40%);

    h1 {
      font-size: 2.2em;
      text-transform: uppercase;
      letter-spacing: 5px;
      margin-bottom: 10px;
    }

    .overview {
      color: gray;
      font-size: 14px;
    }

    p {
      margin-top: 15px;
      text-align: justify;
      margin-bottom: 8%;
    }

    .buttons {
      display: flex;
      flex-wrap: wrap;

      a {
        text-transform: uppercase;
        text-decoration: none;
        color: white;
        background-color: $brightred;
        padding: 10px 15px;
        border-radius: 8px;

        &:hover {
          background-color: hsl(12, 74%, 63%);
        }
      }

      button {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 10px;
        padding: 10px 15px;
        border: none;
        background-color: $darkblue;
        border-radius: 8px;
        cursor: pointer;

        span {
          color: $lightgray;
          letter-spacing: 2px;
          margin-right: 5px;
          font-size: 14px;
          text-transform: uppercase;
          font-weight: bold;
        }

        &:hover {
          background-color: hsl(227, 35%, 32%);
        }
      }
    }
  }
}

.comic__banner {
  display: grid;
  grid-template-columns: 1fr 2fr;

  .image__container {
    display: flex;
    justify-content: center;
    height: auto;
    img {
      width: 330px;
      height: 530px;
    }
  }

  .comic__content {
    padding: 20px 0;

    h1 {
      font-size: 1.4em;
      text-transform: uppercase;
      letter-spacing: 5px;
      margin-bottom: 10px;
    }

    .overview {
      color: gray;
      font-size: 14px;
    }

    .points {
      display: flex;
      justify-content: space-evenly;

      div {
        h4 {
          text-transform: uppercase;
          letter-spacing: 1px;
          color: gray;
          font-size: 0.8em;
        }

        li {
          list-style: none;
          font-weight: bold;
          font-size: 15px;
        }
      }
    }

    p {
      margin-top: 15px;
      text-align: justify;
      font-size: 15px;
      margin-bottom: 8%;
    }

    .buttons {
      display: flex;
      flex-wrap: wrap;

      a {
        text-transform: uppercase;
        text-decoration: none;
        color: white;
        background-color: $brightred;
        padding: 10px 15px;
        border-radius: 8px;

        &:hover {
          background-color: hsl(12, 74%, 63%);
        }
      }

      button {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 10px;
        padding: 10px 15px;
        border: none;
        background-color: $darkblue;
        border-radius: 8px;
        cursor: pointer;

        span {
          color: $lightgray;
          letter-spacing: 2px;
          margin-right: 5px;
          font-size: 14px;
          text-transform: uppercase;
          font-weight: bold;
        }

        &:hover {
          background-color: hsl(227, 35%, 32%);
        }
      }
    }
  }
}

.pagination {
  list-style-type: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 25px 0;
  li {
    display: inline-block;
    margin: 10px 15px;
    background-color: white;
    padding: 8px 15px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    font-weight: bold;
    cursor: pointer;

    &:hover {
      background-color: $verydarkblue;
      color: white;
      transition: 0.3s;
    }
  }

  .currentPage {
    background-color: $verydarkblue;
    color: white;
  }
}

.animation__loading {
  margin-left: auto;
  margin-right: auto;
  border: 16px solid white;
  border-radius: 50%;
  border-top: 16px solid $verydarkblue;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.bookmarks__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;

  button {
    border: none;
    border-radius: 8px;
    color: $lightgray;
    text-transform: uppercase;
    padding: 10px;
    font-weight: bold;
  }
}

.button--active {
  cursor: pointer;
  background-color: $brightred;
  &:hover {
    background-color: hsl(12, 74%, 63%);
  }
}

.button--disabled {
  background-color: hsl(12, 87%, 79%);
}

.bookmarks__container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 20px;

  .bookmark__item {
    margin: 0 10px 30px 0;

    .image__container {
      a {
        display: inline-block;
        margin-bottom: 10px;
        text-decoration: none;
        transition: transform ease 300ms;

        img {
          box-shadow: 0 26px 24px -16px rgb(0 0 0 / 40%);
          width: 250px;
          height: 350px;
        }
      }
    }

    .text__container {
      margin: 0;
      padding: 0;

      h5 {
        font-size: 14px;
      }

      a {
        color: $verydarkblue;
        text-decoration: none;
      }

      .footer__bookmark {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 7px;

        button {
          background-color: $brightred;
          border: none;
          border-radius: 8px;
          padding: 5px;
          color: $lightgray;
          text-transform: uppercase;
          cursor: pointer;

          &:hover {
            background-color: hsl(12, 74%, 63%);
          }
        }
      }

      .span__type {
        text-transform: uppercase;
        font-size: 12px;
        font-weight: bold;
        color: gray;
      }
    }

    &:hover {
      .image__container {
        transform: translate(0, -10px);
      }
      a {
        color: $brightred;
      }
    }
  }
}

.display__none {
  display: none;
}

@media (max-width: 1440px) {
  .container {
    width: 90%;
  }

  .comic__banner {
    grid-template-columns: 1fr 1fr;
  }

  nav {
    .nav__links {
      width: 50%;
    }
  }
}

@media (max-width: 1200px) {
  .items__container {
    padding: 0;

    .item__div {
      margin: 0 5px 30px 0;
    }
  }
}

@media (max-width: 1024px) {
  nav {
    .nav__links {
      width: 60%;
    }
  }

  .items__container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .films__container {
    .film {
      padding: 20px;
    }
  }
}

@media (max-width: 882px) {
  .films__container {
    .film {
      padding: 0;
      grid-template-columns: 1fr;
    }
  }
  .grid__container {
    grid-template-columns: 1fr;
  }

  .character__banner {
    grid-template-columns: 1fr;
  }

  .comic__banner {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  nav {
    .nav__links {
      position: absolute;
      right: 0px;
      z-index: 10;
      height: 92vh;
      top: 8vh;
      background-color: $verydarkblue;
      display: none;
      flex-direction: column;
      align-items: center;
      width: 30%;
      transform: translateX(100%);
      transition: 0.3s ease-in;
    }

    .nav-active {
      transform: translateX(0);
      display: flex;
    }

    .burguer {
      display: block;
    }
  }
}

@media (max-width: 670px) {
  footer {
    .footer__links {
      width: 50%;
    }
  }
}

@media (max-width: 540px) {
  .banner {
    .banner__container {
      width: 100%;
      padding-top: 0 10px;

      .banner__content {
        width: 90%;
      }
    }
  }
  nav {
    .nav__links {
      width: 50%;
    }
  }
}

@media (max-width: 425px) {
  nav {
    .nav__links {
      width: 70%;
    }
  }

  .notfound__page {
    .img__vector {
      width: 300px;
      height: 300px;
    }
  }

  .character__banner {
    .image__container {
      img {
        width: 250px;
        height: 350px;
      }
    }
    .character__content {
      padding: 10px;
    }
  }

  .comic__banner {
    .image__container {
      img {
        width: 250px;
        height: 350px;
      }
    }
  }

  .films__container {
    .film {
      gap: 0;

      .film__image-container {
        padding: 0;
        margin: 20px 0;
      }
    }
  }
  .container {
    width: 100%;
    padding: 30px 10px;
  }
}
